body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #6B5B95;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.article-title {
  color: darkgoldenrod;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 3px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

footer{
  background-color: ghostwhite;
}

ul, li{
  font-size: 1.1em;
  font-family: monospace;
  text-align: center;
  text-decoration: underline;
  list-style: none;
}